<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
   
    h1 { font-size: 100%; color: #000; line-height: 1.5em; }
  </style>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <h1>The page you were looking for doesn't exist.</h1>
    <p><a href="http://mathison.sinaapp.com"target="_blank"><img border="0"src="http://mathison.sinaapp.com\wp-admin\images\404.jpg"></a></p>
  </div>
</body>
</html>