<div id="header">
    <div id="header-top">
        <div id="blog-title">
            Personaal Trip Manager
        </div>
        <div id="blog-sub">
            I err therefore I am
        </div>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/plan/">PLAN</a></li>
            <li><a href="/archive">ARCHIVE</a></li>
            <li><a href="/photos">PHOTO</a></li>
            <li><a href="/photos/upload/">DATE</a></li>
            <li><a href="/todos">TODO</a></li>
        </ul>
    </div>
</div>
