{% extends "base.html" %}
{% block content %}

	<div id="post">
        <div class="post-left">
            <div class="group">
                <p>{{ plan_instance.created|date }}</p>
                <p>{{ plan_instance.created|date:"l" }}</p>
                <p class="focus">{{ plan_instance.created|date:"P" }}</p>
            </div>
                <a class="btn btn-success" href="{% url trips.views.plan_edit plan_instance.id %}">编辑</a>
                <a class="btn btn-danger" href="/plan/delete/{{plan_instance.id}}">删除</a>
        </div>
        
        <div class="post-right">
            <div class="post-content">
                <pre>{{ plan_instance.content|safe }}</pre>
            </div>
        </div>
        <div class="clear-both">
        </div>
    </div>
	
{% endblock %}