{% extends "base.html" %}
{% block title %}批量上传图片{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-image-gallery.min.css">
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>批量上传</h1>
</div>
<div class="">
    <br>
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="." method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
    <br>
</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>



{% endblock %}

{% block js %}


    <script id="template-upload" type="text/x-tmpl">
    {{ open_tv }} for (var i=0, file; file=o.files[i]; i++) { {{ close_tv }}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
            <p class="name">{{ open_tv }}=file.name{{ close_tv }}</p>
            {{ open_tv }} if (file.error) { {{ close_tv }}
                <div><span class="label label-important">Error</span> {{ open_tv }}=file.error{{ close_tv }}</div>
            {{ open_tv }} } {{ close_tv }}
        </td>
        <td>
            <p class="size">{{ open_tv }}=o.formatFileSize(file.size){{ close_tv }}</p>
            {{ open_tv }} if (!o.files.error) { {{ close_tv }}
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            {{ open_tv }} } {{ close_tv }}
        </td>
        <td>
            {{ open_tv }} if (!o.files.error && !i && !o.options.autoUpload) { {{ close_tv }}
                <button class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {{ open_tv }} } {{ close_tv }}
            {{ open_tv }} if (!i) { {{ close_tv }}
                <button class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel</span>
                </button>
            {{ open_tv }} } {{ close_tv }}
        </td>
    </tr>
{{ open_tv }} } {{ close_tv }}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {{ open_tv }} for (var i=0, file; file=o.files[i]; i++) { {{ close_tv }}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {{ open_tv }} if (file.thumbnail_url) { {{ close_tv }}
                    <a href="{{ open_tv }}=file.url{{ close_tv }}" title="{{ open_tv }}=file.name{{ close_tv }}" data-gallery="gallery" download="{{ open_tv }}=file.name{{ close_tv }}"><img src="{{ open_tv }}=file.thumbnail_url{{ close_tv }}"></a>
                {{ open_tv }} } {{ close_tv }}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="{{ open_tv }}=file.url{{ close_tv }}" title="{{ open_tv }}=file.name{{ close_tv }}" data-gallery="{{ open_tv }}=file.thumbnail_url&&'gallery'{{ close_tv }}" download="{{ open_tv }}=file.name{{ close_tv }}">{{ open_tv }}=file.name{{ close_tv }}</a>
            </p>
            {{ open_tv }} if (file.error) { {{ close_tv }}
                <div><span class="label label-important">Error</span> {{ open_tv }}=file.error{{ close_tv }}</div>
            {{ open_tv }} } {{ close_tv }}
        </td>
        <td>
            <span class="size">{{ open_tv }}=o.formatFileSize(file.size){{ close_tv }}</span>
        </td>
        <td>
            <button class="btn btn-danger delete" data-type="{{ open_tv }}=file.delete_type{{ close_tv }}" data-url="{{ open_tv }}=file.delete_url{{ close_tv }}"{{ open_tv }} if (file.delete_with_credentials) { {{ close_tv }} data-xhr-fields='{"withCredentials":true}'{{ open_tv }} } {{ close_tv }}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
        </td>
    </tr>
{{ open_tv }} } {{ close_tv }}
    </script>

        <script src="/static/js/vendor/jquery.ui.widget.js"></script>
        <script src="/static/js/jquery.iframe-transport.js"></script>
        <script src="/static/js/tmpl.min.js"></script>
        <script src="/static/js/load-image.min.js"></script>
        <script src="/static/js/canvas-to-blob.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-image-gallery.min.js"></script>
        


        <script src="/static/js/jquery.iframe-transport.js"></script>
        <script src="/static/js/jquery.fileupload.js"></script>
        <script src="/static/js/jquery.fileupload-process.js"></script>
        <script src="/static/js/jquery.fileupload-resize.js"></script>
        <script src="/static/js/jquery.fileupload-validate.js"></script>
        <script src="/static/js/jquery.fileupload-fp.js"></script>
        <script src="/static/js/jquery.fileupload-ui.js"></script>
        <script src="/static/js/locale.js"></script>
{% endblock %}

{% block on_ready %}

        $('#fileupload').fileupload();

        $('#fileupload').fileupload('option', {
              formData: [
                        { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"},
                        { name: 'test_var', value: 42 },
                    ],
              maxNumberOfFiles: {{ maxnumberoffiles }},
              maxFileSize: {{ maxfilesize }},
              minFileSize: {{ minfilesize }},
              acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
         });

{% endblock %}